<a href="https://colab.research.google.com/github/hsh890112/Ai-Study/blob/main/ADsP_3%EA%B3%BC%EB%AA%A9_01_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ADsP 3과목 01-R언어

### 01 R의 특징
- R은 다양한 플랫폼을 지원한다
- R은 S 언어 기반의 프로그래밍 언어이다
- 다양한 형태의 데이터 구조를 지원한다
- 무료 소프트웨어이면서 복잡한 통계분석 기법이 가능하다

In [ ]:
특징으로 옳지 않은 것 찾기 (23회)

### 02 데이터 타입 
- 데이터 프레임 :각 열이 서로 다른 타입의 데이터 구조가 가능한 것
- 벡터
- 행렬
- 스칼라
- 리스트 : 타입이 다른 데이터 타입을 하나의 객체로 묶는 구조

In [ ]:
각 열이 서로 다른 타입의 데이터 구조로 데이터 프레임 찾기(18회)
리스트 찾기 (20회)

### 03 R의 벡터
1.   R에서 벡터는 하나 또는 하나 이상의 스칼라 원소들을 갖는 집합이다
2. 합치는 벡터에 **문자형 벡터가 포함되면** 합쳐지는 벡터는 **문자형 벡터형**을 갖는다
3. 논리연산자 벡터를 숫자형 벡터처럼 사용하는 경우 자동적으로 **TRUE는 1값**을 갖는다
4. R은 **대소문자를 구분**한다
5. dist변수의 벡터를 추출하기 위해서는 cars$dist를 실행 한다
6. 벡터의 곱셈 : y=c(1, 2, 3,NA)일 때 3*y = 3, 6, 9, NA 이다

In [ ]:
옳은 벡터 설명 찾기, 1번만 옳은 설명으로 나옴 (16회) 
2번에 대한 내용 (22회)

In [ ]:
matrix 설명에서 as.vector(mx) 는 1행부터라고해서 틀림 (18회)

### 04 R 데이터의 형 변환
- mx <- matrix( c(23,41,12,35,67,1, 24, 7,53), nrow=3)
   - as.vector(mx) 적용시 데이터는 1열부터 차례로 생성됨
- as.integer(3.14)의 값은 3
- as.numeric(FALSE)의 값은 0
- as.logical(0.45)의 값은 TRUE

### 05 summary 함수는?
- summary : 최소값, 1사분위수, 중위수, 3사분위수, 최대값, 평균값을 구할 수 있는 함수 
- Min, 1st Qu. Median, Mean, 3rd Qu, Max

In [ ]:
summary : 최소값, 1사분위수, 중위수, 3사분위수, 최대값, 평균값을 구할 수 있는 함수 (16회)

![image.png]()

In [ ]:
표를 보고 설명 적절하지 않은 것 찾기 (17회, 19회)
- 17회 범주형 데이터 타입이라고 해서 틀림
- 19회 speed의 제 3사분위수 알수 없다했는데... 나와 있어서 틀림

In [ ]:
그림 보고 설명이 틀린 것 찾기 (17회)

###  06 R의 패키지 & 함수
- plyr : apply 함수와 multi-core 사용 함수를 이용하면 for loop를 사용하지 않고 매우 간단하게 처리할 수 있고, apply 함수에 기반해 데이터와 출력변수를 동시에 배열로 치환하여 처리하는 패키지
- ldply 함수 : plyr 함수 중 입력데이터는 리스트이고, 출력 데이터 형태는 데이터 프레임인 함수

In [ ]:
plyr 묻는 객관식 문한 (20회)

### 07 R 패키지 -1
- data.table에서 **dataframe으로 변경되면 ddply를 사용**할 수 있다
- data.table은 데이터프레임과 유사하지만 보다 빠른 grouping이 가능함
- ply() 함수는 앞에 두 개의 문자를 접두사로 가지는데, 첫 번째 문자는 입력하는 데이터 형태를 나타내고, 두 번째 문자는 출력하는 데이터 형태를 나타낸다
- reshape 패키지의 주요 기능은 melt()와 cast()가 있다

In [ ]:
틀린 설명 찾기 (18회)
- data.table에서 리스트로 변경되는 ddply를 사용이라해서 틀림

### 08 R의 패키지 설치 및 로드
``` 
install.package("패키지명), library("패키지명")
install.package("패키지명), library(패키지명)
```

In [ ]:
알맞은 것 찾기 (답이 2개였음) (19회)

### 09 R 코딩의 결과

In [ ]:
x <- 1:5
y <-seq(10,50,10,)
결과 <- rbind(x, y)
- 2 * 5 행렬
- 결과 [1,] 은 x와 같다
- 데이터 프레임 타입의 자료구조

In [ ]:
(20회)
DF <-c("Monday", "Tuesday", "Wednesday")
substr(DF, 1, 2)
Out : "Mo", "Tu", "We"

In [ ]:
(20회)
x<-c(1, 2, 3, 4)
y<-c("apple", "banana", "orange")
xy<-c(x,y)

In [ ]:
- xy는 문자형이다
- 결과값은 "1", "2", "3", "4", "apple", "banana", "orange"
- xy[1] + xy[2]의 결과는 "12" 이다
- xy[c(5,7)], y[c(1,3)]의 결과값은 서로 같다
  "apple", "banana", "orange"

In [ ]:
(20회)
fruit <- c(5, 10, 1, 2)
names(fruit) <- c("orange", "banana", "apple", "peach")

In [ ]:
다음은 모두 같은 결과이다
fruit[c("apple", "banana")]
fruit[3:2]
fruit[c(3,2)]

In [ ]:
(22회)
m <- matrix(c(1,2,3,4,5,6), ncol=2, byrow=TRUE)
m
m[1,]

In [ ]:
OUT :
1 2

In [ ]:
(23회)
"2013-08-13" 을 문자열로 변환하는 R 코딩 방법
as.Date("08/13/2013", "%m/%d/%Y")